html{
    background-image: url("https://previews.123rf.com/images/sukanda26/sukanda261601/sukanda26160100415/51557533-white-light-blue-glitter-texture-abstract-background.jpg");
    
}

body {
	text-align: center;
	background: url(https://previews.123rf.com/images/sukanda26/sukanda261601/sukanda26160100415/51557533-white-light-blue-glitter-texture-abstract-background.jpg);

}